{
  "openapi": "3.1.0",
  "info": {
    "title": "Pancake POS Open API",
    "version": "1.0.0",
    "description": "Tài liệu API cho hệ thống POS.\n\n## Xác thực Tài khoản\n\n### Tạo API Key\n\nVào giao diện **Cấu hình -> Nâng cao -> Kết nối bên thứ 3 -> Webhook/API**. Trong khung `API KEY`, click `Thêm mới`.\n"
  },
  "servers": [
    {
      "url": "https://pos.pages.fm/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/shops": {
      "get": {
        "summary": "Thông tin cửa hàng",
        "description": "Lấy thông tin cửa hàng",
        "tags": [
          "Cửa hàng"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avatar_url": {
                            "type": "string",
                            "description": "Link hình đại diện"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tên cửa hàng"
                          },
                          "id": {
                            "type": "integer",
                            "description": "Mã cửa hàng"
                          },
                          "pages": {
                            "type": "array",
                            "description": "Thông tin pages được gộp trong shop",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Mã trang liên kết"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Tên trang"
                                },
                                "platform": {
                                  "type": "string",
                                  "description": "Nền tảng (ví dụ: facebook)"
                                },
                                "settings": {
                                  "type": "object",
                                  "description": "Cài đặt trang",
                                  "properties": {
                                    "auto_create_order": {
                                      "type": "boolean",
                                      "description": "Tự động tạo đơn"
                                    }
                                  }
                                },
                                "shop_id": {
                                  "type": "integer",
                                  "description": "Mã cửa hàng"
                                }
                              }
                            }
                          },
                          "link_post_marketer": {
                            "type": "array",
                            "description": "Thông tin liên kết bài viết / nguồn đơn / TK QC với marketer",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ad_account_id": {
                                  "type": "string",
                                  "description": "ID tài khoản QC"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "ID liên kết"
                                },
                                "inserted_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Thời điểm tạo"
                                },
                                "marketer": {
                                  "type": "string",
                                  "description": "Mã nhân viên marketer"
                                },
                                "multiple_post": {
                                  "type": "array",
                                  "description": "ID bài viết",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "multiple_source": {
                                  "type": "array",
                                  "description": "Thông tin nguồn đơn",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "account": {
                                        "type": "string",
                                        "description": "Mã TK nguồn đơn hàng"
                                      },
                                      "key": {
                                        "type": "string",
                                        "description": "Khóa"
                                      },
                                      "page_id": {
                                        "type": "string",
                                        "description": "Mã Facebook page"
                                      }
                                    }
                                  }
                                },
                                "shop_id": {
                                  "type": "integer",
                                  "description": "Mã cửa hàng"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Loại liên kết (post: \"Bài viết\", source: \"Nguồn đơn\", ad_account_id: \"Tài khoản quảng cáo\")"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "shops": [
                        {
                          "avatar_url": "https://statics.pancake.vn/user-content-dev2.pancake.vn/2022/7/6/8678250807b2285e2752ac2cbbf43925f19a677c.jpeg",
                          "name": "Shop thời trang",
                          "id": 6036602,
                          "link_post_marketer": [
                            {
                              "ad_account_id": null,
                              "id": "949f1396-f6fa-45d9-93b6-4c37503a9950",
                              "inserted_at": "2025-08-21T03:02:04",
                              "marketer": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                              "multiple_post": [],
                              "multiple_source": [
                                {
                                  "account": "2284322048329488",
                                  "key": "-1",
                                  "page_id": "2284322048329488"
                                }
                              ],
                              "shop_id": 6036602,
                              "type": "source"
                            }
                          ],
                          "pages": [
                            {
                              "id": "104438181227821",
                              "name": "Quần áo",
                              "platform": "facebook",
                              "settings": {
                                "auto_create_order": true
                              },
                              "shop_id": 20
                            }
                          ]
                        }
                      ],
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geo/provinces": {
      "get": {
        "summary": "Danh sách tỉnh thành phố",
        "description": "Lấy danh sách tỉnh thành phố",
        "tags": [
          "Địa chỉ"
        ],
        "parameters": [
          {
            "name": "country_code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "84",
              "example": "84"
            },
            "description": "Mã quốc gia (ví dụ mã quốc gia Viet Nam là 84)",
            "example": "84"
          },
          {
            "name": "is_new",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            },
            "description": "Tỉnh thành mới (với quốc gia Viet Nam)",
            "example": false
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "example": false
            },
            "description": "Tỉnh thành gồm cả cũ và mới (với quốc gia Viet Nam)",
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Mã tỉnh thành phố"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tên tỉnh thành"
                          },
                          "name_en": {
                            "type": "string",
                            "description": "Tên tiếng Anh"
                          },
                          "new_id": {
                            "type": "string",
                            "description": "Mã tỉnh thành mới (với quốc gia Viet Nam)"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "id": "101",
                          "name": "Hà Nội",
                          "name_en": "ha noi",
                          "new_id": "84_VN101"
                        },
                        {
                          "id": "701",
                          "name": "Hồ Chí Minh",
                          "name_en": "ho chi minh",
                          "new_id": "84_VN129"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geo/districts": {
      "get": {
        "summary": "Danh sách quận huyện",
        "description": "Lấy danh sách quận huyện",
        "tags": [
          "Địa chỉ"
        ],
        "parameters": [
          {
            "name": "province_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "101"
            },
            "description": "Mã tỉnh thành phố của các quận huyện bạn muốn lấy. Lấy mã tỉnh thành phố trong api GET /geo/provinces",
            "example": "101"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Mã quận huyện"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tên quận huyện"
                          },
                          "name_en": {
                            "type": "string",
                            "description": "Tên tiếng Anh"
                          },
                          "province_id": {
                            "type": "string",
                            "description": "Mã tỉnh thành phố"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "id": "10101",
                          "name": "Quận Ba Đình",
                          "name_en": "ba dinh",
                          "province_id": "101"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geo/communes": {
      "get": {
        "summary": "Danh sách phường xã",
        "description": "Lấy danh sách phường xã",
        "tags": [
          "Địa chỉ"
        ],
        "parameters": [
          {
            "name": "district_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã quận huyện của các phường xã bạn muốn lấy. Lấy mã quận huyện trong api GET /geo/districts",
            "example": "10101"
          },
          {
            "name": "province_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Mã tỉnh thành phố của các phường xã bạn muốn lấy. Lấy mã tỉnh thành phố trong api GET /geo/provinces",
            "example": "101"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Mã phường xã"
                          },
                          "name": {
                            "type": "string",
                            "description": "Tên xã phường"
                          },
                          "name_en": {
                            "type": "string",
                            "description": "Tên tiếng Anh"
                          },
                          "district_id": {
                            "type": "string",
                            "description": "Mã quận huyện"
                          },
                          "province_id": {
                            "type": "string",
                            "description": "Mã tỉnh thành phố"
                          },
                          "new_id": {
                            "type": "string",
                            "description": "Mã xã phường mới (với quốc gia Viet Nam)"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "Mã bưu điện"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "district_id": "10101",
                          "id": "1010115",
                          "name": "Phường Cống Vị",
                          "name_en": "cong vi",
                          "new_id": null,
                          "postcode": null,
                          "province_id": "101"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{SHOP_ID}/warehouses": {
      "get": {
        "summary": "Danh sách kho hàng",
        "description": "Lấy danh sách kho hàng",
        "tags": [
          "Kho hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Danh sách kho hàng",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Danh sách kho hàng",
                      "items": {
                        "$ref": "#/components/schemas/Kho hàng"
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                          "name": "kho test ecod",
                          "address": "hâhhha",
                          "full_address": "hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu",
                          "phone_number": "0999999999",
                          "province_id": "717",
                          "district_id": "71705",
                          "commune_id": "7170510",
                          "country_code": "84",
                          "shop_id": 26290,
                          "allow_create_order": true,
                          "custom_id": null
                        },
                        {
                          "id": "644b0063-e9a8-43cd-ba08-66a8066d462e",
                          "name": "kho 2",
                          "address": "19/349 Minh Khai , Hai bà Trưng, Hà Nội",
                          "full_address": "19/349 Minh Khai , Hai bà Trưng, Hà Nội, Phường Minh Khai, Quận Hai Bà Trưng, Hà Nội",
                          "phone_number": "01655809949",
                          "province_id": "101",
                          "district_id": "10107",
                          "commune_id": "1010735",
                          "country_code": "84",
                          "shop_id": 26290,
                          "allow_create_order": false,
                          "custom_id": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Tạo kho hàng",
        "description": "Tạo kho hàng",
        "tags": [
          "Kho hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "shelf_config"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Tên kho hàng"
                  },
                  "address": {
                    "type": "string",
                    "description": "Địa chỉ chi tiết kho hàng(số nhà, đường, ...)"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Số điện thoại kho hàng"
                  },
                  "province_id": {
                    "type": "string",
                    "description": "Mã tỉnh thành phố. Lấy từ API GET /geo/provinces"
                  },
                  "district_id": {
                    "type": "string",
                    "description": "Mã quận huyện. Lấy từ API GET /geo/districts"
                  },
                  "commune_id": {
                    "type": "string",
                    "description": "Mã phường xã. Lấy từ API GET /geo/communes"
                  },
                  "country_code": {
                    "type": "string",
                    "description": "Mã quốc gia"
                  },
                  "shelf_config": {
                    "type": "object",
                    "description": "Cấu hình kệ",
                    "properties": {
                      "col": {
                        "type": "string",
                        "description": "Cột"
                      }
                    }
                  },
                  "batch_config": {
                    "type": "object",
                    "description": "Cấu hình lô",
                    "properties": {
                      "col": {
                        "type": "string",
                        "description": "Column"
                      },
                      "line": {
                        "type": "string",
                        "description": "Line"
                      },
                      "row": {
                        "type": "string",
                        "description": "Row"
                      }
                    }
                  },
                  "custom_shelf_config": {
                    "type": "object",
                    "description": "Cấu hình kệ tùy chỉnh",
                    "properties": {
                      "custom_config": {
                        "type": "object",
                        "description": "Custom config"
                      }
                    }
                  },
                  "custom_batch_config": {
                    "type": "object",
                    "description": "Cấu hình lô tùy chỉnh",
                    "properties": {
                      "custom_config": {
                        "type": "object",
                        "description": "Custom config"
                      }
                    }
                  },
                  "hide_config_batch_shelf": {
                    "type": "boolean",
                    "description": "Mở cấu hình lô kệ tùy chỉnh"
                  }
                },
                "example": {
                  "name": "kho 2",
                  "address": "19/349 Minh Khai , Hai bà Trưng, Hà Nội",
                  "phone_number": "098765432",
                  "province_id": "101",
                  "district_id": "10107",
                  "commune_id": "1010735",
                  "country_code": "84",
                  "shelf_config": {
                    "col": "3"
                  },
                  "batch_config": {
                    "col": "0",
                    "line": "3",
                    "row": "3"
                  },
                  "custom_batch_config": {
                    "custom_config": {
                      "0": "lô 1"
                    }
                  },
                  "custom_shelf_config": {
                    "custom_config": {
                      "0": "1.1",
                      "1": "1.2",
                      "2": "1.3",
                      "3": "1.4"
                    }
                  },
                  "hide_config_batch_shelf": false
                }
              }
            }
          },
          "description": "Thông tin yêu cầu chứa thông tin kho hàng cần tạo"
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kho hàng"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                      "name": "kho test ecod",
                      "address": "hâhhha",
                      "full_address": "hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu",
                      "phone_number": "0999999999",
                      "province_id": "717",
                      "district_id": "71705",
                      "commune_id": "7170510",
                      "country_code": "84",
                      "shop_id": 26290,
                      "allow_create_order": true,
                      "custom_id": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{SHOP_ID}/warehouses/{WAREHOUSE_ID}": {
      "put": {
        "summary": "Cập nhật kho hàng",
        "description": "Cập nhật kho hàng",
        "tags": [
          "Kho hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          },
          {
            "name": "WAREHOUSE_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "b4cb5897-6e56-4581-96cc-2f12677c7bd8"
            },
            "description": "Mã kho hàng"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Thông tin yêu cầu chứa thông tin kho hàng cần cập nhật",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "shelf_config"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Tên kho hàng"
                  },
                  "address": {
                    "type": "string",
                    "description": "Địa chỉ chi tiết kho hàng(số nhà, đường, ...)"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Số điện thoại kho hàng"
                  },
                  "province_id": {
                    "type": "string",
                    "description": "Mã tỉnh thành phố. Lấy từ API GET /geo/provinces"
                  },
                  "district_id": {
                    "type": "string",
                    "description": "Mã quận huyện. Lấy từ API GET /geo/districts"
                  },
                  "commune_id": {
                    "type": "string",
                    "description": "Mã phường xã. Lấy từ API GET /geo/communes"
                  },
                  "country_code": {
                    "type": "string",
                    "description": "Mã quốc gia"
                  },
                  "shelf_config": {
                    "type": "object",
                    "description": "Cấu hình kệ",
                    "properties": {
                      "col": {
                        "type": "string",
                        "description": "Cột"
                      }
                    }
                  },
                  "batch_config": {
                    "type": "object",
                    "description": "Cấu hình lô",
                    "properties": {
                      "col": {
                        "type": "string",
                        "description": "Column"
                      },
                      "line": {
                        "type": "string",
                        "description": "Line"
                      },
                      "row": {
                        "type": "string",
                        "description": "Row"
                      }
                    }
                  },
                  "custom_shelf_config": {
                    "type": "object",
                    "description": "Cấu hình kệ tùy chỉnh",
                    "properties": {
                      "custom_config": {
                        "type": "object",
                        "description": "Custom config"
                      }
                    }
                  },
                  "custom_batch_config": {
                    "type": "object",
                    "description": "Cấu hình lô tùy chỉnh",
                    "properties": {
                      "custom_config": {
                        "type": "object",
                        "description": "Custom config"
                      }
                    }
                  },
                  "hide_config_batch_shelf": {
                    "type": "boolean",
                    "description": "Mở cấu hình lô kệ tùy chỉnh"
                  }
                },
                "example": {
                  "name": "Kho mặc định",
                  "address": "190 La Thành",
                  "phone_number": "0366452565",
                  "province_id": "101",
                  "district_id": "10113",
                  "commune_id": "1011309",
                  "country_code": "84",
                  "shelf_config": {
                    "col": "3"
                  },
                  "batch_config": {
                    "col": "0",
                    "line": "3",
                    "row": "3"
                  },
                  "custom_batch_config": {
                    "custom_config": {
                      "0": "lô 1"
                    }
                  },
                  "custom_shelf_config": {
                    "custom_config": {
                      "0": "1.1",
                      "1": "1.2",
                      "2": "1.3",
                      "3": "1.4"
                    }
                  },
                  "hide_config_batch_shelf": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Kho hàng"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                      "name": "kho test ecod",
                      "address": "SCB",
                      "full_address": "SCB, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu",
                      "phone_number": "0999999999",
                      "province_id": "717",
                      "district_id": "71705",
                      "commune_id": "7170510",
                      "country_code": "84",
                      "shop_id": 26290,
                      "allow_create_order": true,
                      "custom_id": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{SHOP_ID}/inventory_histories": {
      "get": {
        "summary": "Lịch sử xuất nhập kho",
        "description": "Lấy lịch sử xuất nhập kho",
        "tags": [
          "Kho hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            },
            "description": "Số trang"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 30,
              "example": 30
            },
            "description": "Kích thước trang"
          },
          {
            "name": "warehouse_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "b4cb5897-6e56-4581-96cc-2f12677c7bd8"
            },
            "description": "Mã kho"
          },
          {
            "name": "variation_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "415040f4-ab63-465e-8699-e9ebfff4c6c7"
              ]
            },
            "description": "Danh sách mã mẫu mã"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            },
            "description": "Ngày bắt đầu"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            },
            "description": "Ngày kết thúc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Danh sách lịch sử xuất nhập kho",
                      "items": {
                        "type": "object",
                        "properties": {
                          "avg_price": {
                            "type": "integer",
                            "description": "Giá nhập trung bình"
                          },
                          "current_inventory": {
                            "type": "array",
                            "description": "Thông tin tồn kho hiện tại",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actual_remain_quantity": {
                                  "type": "integer",
                                  "description": "Số lượng tồn thực tế"
                                },
                                "avg_price": {
                                  "type": "number",
                                  "description": "Giá trung bình"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Mã kho"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "Tên kho"
                                },
                                "remain_quantity": {
                                  "type": "integer",
                                  "description": "Số lượng tồn"
                                },
                                "total_quantity": {
                                  "type": "integer",
                                  "description": "Tổng số lượng"
                                }
                              }
                            }
                          },
                          "editor_id": {
                            "type": "string",
                            "description": "Mã nhân viên cập nhật"
                          },
                          "id": {
                            "type": "integer",
                            "description": "Mã xuất nhập kho"
                          },
                          "inserted_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Thời điểm tạo"
                          },
                          "quantity": {
                            "type": "integer",
                            "description": "Số lượng thay đổi"
                          },
                          "ref_display_id": {
                            "type": "string",
                            "description": "Mã hiển thị tham chiếu"
                          },
                          "remain_quantity": {
                            "type": "integer",
                            "description": "Tồn kho"
                          },
                          "table_name": {
                            "type": "string",
                            "description": "Tên bảng"
                          },
                          "type": {
                            "type": "string",
                            "description": "Loại"
                          },
                          "variation_now": {
                            "type": "object",
                            "description": "Thông tin mẫu mã",
                            "properties": {
                              "barcode": {
                                "type": "string"
                              },
                              "display_id": {
                                "type": "string"
                              },
                              "fields": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "keyValue": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "id": {
                                "type": "string"
                              },
                              "images": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "format": "uri"
                                }
                              },
                              "is_hidden": {
                                "type": "boolean"
                              },
                              "is_locked": {
                                "type": "boolean"
                              },
                              "is_sell_negative_variation": {
                                "type": "boolean"
                              },
                              "last_imported_price": {
                                "type": "integer"
                              },
                              "product_id": {
                                "type": "string"
                              },
                              "retail_price": {
                                "type": "integer"
                              },
                              "weight": {
                                "type": "integer"
                              }
                            }
                          },
                          "warehouse": {
                            "type": "object",
                            "description": "Kho thay đổi tồn",
                            "properties": {
                              "custom_id": {
                                "type": "string"
                              },
                              "ffm_id": {
                                "type": "string"
                              },
                              "full_address": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone_number": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "page_number": {
                      "type": "integer",
                      "description": "Số trang"
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Kích thước trang"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Trạng thái thành công"
                    },
                    "total_entries": {
                      "type": "integer",
                      "description": "Tổng số bản ghi"
                    },
                    "total_pages": {
                      "type": "integer",
                      "description": "Tổng số trang"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "success": true,
                      "data": [
                        {
                          "avg_price": 1,
                          "current_inventory": [
                            {
                              "actual_remain_quantity": 1,
                              "avg_price": 1,
                              "id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                              "name": "kho test ecod",
                              "remain_quantity": 1,
                              "total_quantity": 1
                            }
                          ],
                          "editor_id": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                          "id": 1,
                          "inserted_at": "2024-01-01T00:00:00Z",
                          "quantity": 1,
                          "ref_display_id": "12345",
                          "remain_quantity": 1,
                          "table_name": "Purchase",
                          "type": "import",
                          "variation_now": {
                            "barcode": "BARCODE123",
                            "display_id": "13109",
                            "fields": [
                              {
                                "id": "field-id-1",
                                "keyValue": "Màu",
                                "name": "Màu",
                                "value": "Trắng"
                              }
                            ],
                            "id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                            "images": [
                              "https://statics.pancake.vn/user-content.pancake.vn/2021/8/5/fccd6.jpg"
                            ],
                            "is_hidden": true,
                            "is_locked": true,
                            "is_sell_negative_variation": true,
                            "last_imported_price": 1,
                            "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                            "retail_price": 1,
                            "weight": 1
                          },
                          "warehouse": {
                            "custom_id": null,
                            "ffm_id": null,
                            "full_address": "hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu",
                            "id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                            "name": "kho test ecod",
                            "phone_number": "0999999999"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{SHOP_ID}/orders": {
      "get": {
        "summary": "Danh sách đơn hàng",
        "description": "Lấy danh sách đơn hàng thông tin từng đơn hàng cụ thể",
        "tags": [
          "Đơn hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 30,
              "example": 30
            },
            "description": "Kích thước trang",
            "example": 100
          },
          {
            "name": "page_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "example": 1
            },
            "description": "Số trang",
            "example": 1
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "0999999999"
            },
            "description": "Số điện thoại, tên khách hàng, ghi chú, ...",
            "example": "0999999999"
          },
          {
            "name": "filter_status[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1,
                2
              ]
            },
            "description": "Trạng thái đơn hàng",
            "example": [
              0,
              1
            ]
          },
          {
            "name": "include_removed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            },
            "description": "Bao gồm đơn đã xóa",
            "example": 1
          },
          {
            "name": "updateStatus",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "inserted_at",
              "enum": [
                "inserted_at",
                "updated_at",
                "partner_inserted_at",
                "paid_at",
                "estimate_delivery_date",
                "picked_up_at",
                "first_delivery_at",
                "transfer_proof",
                "time_assign_seller",
                "time_assign_care",
                "time_assign_marketer",
                "-1",
                "0",
                "11",
                "20",
                "1",
                "12",
                "13",
                "8",
                "9",
                "2",
                "3",
                "16",
                "4",
                "15",
                "5"
              ],
              "x-enum-descriptions": [
                "Thời điểm tạo đơn",
                "Thời điểm cập nhật cuối",
                "Thời điểm gửi đơn vị vận chuyển",
                "Thời điểm đối soát",
                "Thời gian giao hàng dự kiến",
                "Thời điểm đơn vị vận chuyển lấy hàng",
                "Thời điểm giao hàng lần đầu",
                "Chứng từ chuyển khoản",
                "Thời điểm phân công người bán",
                "Thời điểm phân công chăm sóc",
                "Thời điểm phân công marketer",
                "Cập nhật trạng thái cuối",
                "Mới",
                "Chờ hàng",
                "Đã đặt hàng",
                "Đã xác nhận",
                "Chờ in",
                "Đã in",
                "Đang đóng hàng",
                "Chờ chuyển hàng",
                "Đã gửi hàng",
                "Đã nhận",
                "Đã thu tiền",
                "Đang hoàn",
                "Hoàn một phần",
                "Đã hoàn"
              ],
              "example": "inserted_at"
            },
            "description": "Lọc đơn hàng theo thời gian"
          },
          {
            "name": "startDateTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 0
            },
            "description": "Ngày bắt đầu",
            "example": 1699635600
          },
          {
            "name": "endDateTime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 0
            },
            "description": "Ngày kết thúc",
            "example": 1699635600
          },
          {
            "name": "option_sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "inserted_at_desc",
              "enum": [
                "inserted_at_desc",
                "inserted_at_asc",
                "last_updated_order_desc",
                "last_updated_order_asc",
                "last_update_status_at_desc",
                "last_update_status_at_asc",
                "order_valuation_desc",
                "order_valuation_asc",
                "product_quantity_desc",
                "product_quantity_asc",
                "product_name_desc",
                "product_name_asc",
                "sub_status_sort_desc",
                "sub_status_sort_asc",
                "first_undeliverable_at_desc",
                "first_undeliverable_at_asc",
                "customer_sort_desc",
                "customer_sort_asc",
                "estimate_delivery_date_desc",
                "estimate_delivery_date_asc",
                "order_source_desc",
                "order_source_asc"
              ],
              "x-enum-descriptions": [
                "Thời điểm tạo đơn giảm dần",
                "Thời điểm tạo đơn tăng dần",
                "Cập nhật đơn hàng cuối giảm dần",
                "Cập nhật đơn hàng cuối tăng dần",
                "Cập nhật trạng thái cuối giảm dần",
                "Cập nhật trạng thái cuối tăng dần",
                "Giá trị đơn hàng giảm dần",
                "Giá trị đơn hàng tăng dần",
                "Số lượng sản phẩm giảm dần",
                "Số lượng sản phẩm tăng dần",
                "Tên sản phẩm giảm dần",
                "Tên sản phẩm tăng dần",
                "Cập nhật chậm giao hàng giảm dần",
                "Cập nhật chậm giao hàng tăng dần",
                "Lần đầu không giao được giảm dần",
                "Lần đầu không giao được tăng dần",
                "Tên khách hàng giảm dần",
                "Tên khách hàng tăng dần",
                "Ngày giao hàng dự kiến giảm dần",
                "Ngày giao hàng dự kiến tăng dần",
                "Nguồn đơn hàng giảm dần",
                "Nguồn đơn hàng tăng dần"
              ],
              "example": "inserted_at_desc"
            },
            "description": "Thứ tự đơn hàng"
          },
          {
            "name": "fields[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Các trường trả về",
            "example": [
              "id",
              "bill_phone_number"
            ]
          },
          {
            "name": "partner_id[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "description": "ID đơn vị vận chuyển trên hệ thống Pancake",
            "example": [
              1,
              3
            ]
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Mã khách hàng",
            "example": "96a8e283-3fba-492e-a35a-970f72a30a02"
          },
          {
            "name": "order_sources[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "Nguồn đơn hàng. Định dạng: [[mã_nguồn_đơn, mã_tài_khoản], ...]\nVí dụ: [[\"-1\", \"314\"], [\"-3\"]]\n",
            "example": [
              [
                "-1",
                "314"
              ],
              [
                "-3"
              ]
            ]
          },
          {
            "name": "is_filter_exclude_source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Loại trừ nguồn đơn hàng",
            "example": true
          },
          {
            "name": "ad_ids[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Mã quảng cáo",
            "example": [
              "1784439461476385",
              "1784439461473489"
            ]
          },
          {
            "name": "project_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Mã dự án",
            "example": 1
          },
          {
            "name": "extra_fields[]",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "return_rate",
                "conversation_note"
              ],
              "x-enum-descriptions": [
                "Tỉ lệ đổi hàng",
                "Ghi chú trao đổi"
              ]
            },
            "description": "Các trường bổ sung",
            "example": [
              "return_rate",
              "conversation_note"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Danh sách đơn hàng",
                      "items": {
                        "$ref": "#/components/schemas/Đơn hàng"
                      }
                    },
                    "page_number": {
                      "type": "integer",
                      "description": "Số trang"
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "Kích thước trang"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Trạng thái thành công"
                    },
                    "total_entries": {
                      "type": "integer",
                      "description": "Tổng số bản ghi"
                    },
                    "total_pages": {
                      "type": "integer",
                      "description": "Tổng số trang"
                    }
                  }
                },
                "examples": {
                  "default": {
                    "value": {
                      "data": [
                        {
                          "id": 1418,
                          "system_id": 1,
                          "shop_id": 4,
                          "inserted_at": "2020-05-12T04:51:42",
                          "updated_at": "2020-05-12T04:51:54",
                          "status": 0,
                          "status_name": "new",
                          "bill_full_name": "Hoang Anh",
                          "bill_phone_number": "0999999999",
                          "bill_email": "customer@example.com",
                          "conversation_id": "117967746266487_9306266852780716",
                          "page_id": "256469571178082",
                          "post_id": "185187094667903_477083092110915",
                          "shipping_fee": 0,
                          "cod": 0,
                          "cash": 0,
                          "account": 1,
                          "total_discount": 0,
                          "note": "",
                          "note_print": null,
                          "received_at_shop": false,
                          "is_free_shipping": false,
                          "is_locked": false,
                          "creator_id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                          "creator": {
                            "id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                            "fb_id": "2042723249341651",
                            "name": "Hoang Anh",
                            "avatar_url": null
                          },
                          "items": [],
                          "partner": {
                            "partner_id": 1,
                            "cod": 0,
                            "extend_code": "S58824.MB25.C3.500020713",
                            "total_fee": 0,
                            "updated_at": "2020-05-12T05:18:16"
                          },
                          "shipping_address": {
                            "full_name": "Hoang Anh",
                            "phone_number": "0999999999",
                            "address": "90 Cầu Giấy",
                            "full_address": "90 Cầu Giấy, Phường Dịch Vọng, Quận Cầu Giấy, Hà Nội",
                            "province_id": "101",
                            "district_id": "10113",
                            "commune_id": "1011309"
                          },
                          "additional_info": {
                            "service_partner": "instant"
                          },
                          "invoice_info_list": [
                            {
                              "error": "",
                              "invoice_detail": {
                                "company_address": "85 lê quý đôn, phường nam định, tỉnh Ninh Bình",
                                "company_address_breakdown": {
                                  "company_additional_info": "",
                                  "company_barangay": "",
                                  "company_city": "",
                                  "company_detailed_address": "85 lê quý đôn, phường nam định, tỉnh Ninh Bình",
                                  "company_district": "Phường Nam Định",
                                  "company_full_address": "85 lê quý đôn, phường nam định, tỉnh Ninh Bình",
                                  "company_postcode": "",
                                  "company_province": "",
                                  "company_region": "VietNam",
                                  "company_state": "Ninh Bình",
                                  "company_town": "Phường Nam Định"
                                },
                                "company_email": "acb@gmail.com",
                                "company_name": "Công ty cổ phần tư vấn xây dựng điện Hoàng Phát",
                                "company_tax_id": "0601043840"
                              },
                              "invoice_type": "company",
                              "is_requested": true,
                              "order_sn": "251121BVGU6RVE"
                            }
                          ],
                          "reports_by_phone": {
                            "+639175706297": {
                              "order_fail": 29,
                              "order_success": 20,
                              "warning": 0
                            }
                          }
                        }
                      ],
                      "page_number": 1,
                      "page_size": 100,
                      "success": true,
                      "total_entries": 1418,
                      "total_pages": 15
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Tạo đơn hàng",
        "description": "Tạo đơn hàng",
        "tags": [
          "Đơn hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Thông tin đơn hàng cần tạo",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Đơn hàng"
                  },
                  {
                    "type": "object",
                    "required": [
                      "shop_id"
                    ]
                  }
                ]
              },
              "example": {
                "bill_full_name": "Hoang Anh",
                "bill_phone_number": "0999999999",
                "conversation_id": "117967746266487_9306266852780716",
                "is_free_shipping": false,
                "received_at_shop": false,
                "page_id": "256469571178082",
                "account": 4,
                "account_name": "facebook321",
                "assigning_seller_id": "340644fc-314d-450e-a45f-33343678cab6",
                "items": [
                  {
                    "discount_each_product": 0,
                    "is_bonus_product": false,
                    "is_discount_percent": false,
                    "is_wholesale": false,
                    "one_time_product": false,
                    "quantity": 1,
                    "variation_id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                    "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                    "variation_info": {
                      "detail": null,
                      "fields": null,
                      "display_id": null,
                      "name": "aaaaaa",
                      "product_display_id": null,
                      "retail_price": 100000,
                      "weight": 100
                    }
                  }
                ],
                "note": "",
                "note_print": null,
                "returned_reason": 1,
                "warehouse_id": "630744ef-4614-4a70-988c-52e6d78c953c",
                "shipping_address": {
                  "address": "aaaaa",
                  "commune_id": "2210941",
                  "country_code": null,
                  "district_id": "22109",
                  "full_address": "aaaaa, Xã Bắc Lý, Huyện Hiệp Hòa, Bắc Giang",
                  "full_name": "hoang anh",
                  "phone_number": "0999999999",
                  "post_code": null,
                  "province_id": "221"
                },
                "shipping_fee": 0,
                "shop_id": 4,
                "total_discount": 0,
                "warehouse_info": {
                  "district_id": "10111",
                  "full_address": "kakakaka, Phường Khương Trung, Quận Thanh Xuân, Hà Nội",
                  "name": "snappy",
                  "phone_number": "0999999999",
                  "province_id": "101"
                },
                "custom_id": "Ma0001",
                "activated_promotion_advances": [
                  {
                    "promotion_advance_id": "fb056b32-9cf6-4c5a-92de-0eb94db71121",
                    "is_activated": true
                  }
                ],
                "status": 0,
                "cash": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Đơn hàng"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": 1418,
                      "system_id": 1,
                      "shop_id": 4,
                      "inserted_at": "2020-05-12T04:51:42",
                      "updated_at": "2020-05-12T04:51:54",
                      "status": 0,
                      "status_name": "new",
                      "bill_full_name": "Hoang Anh",
                      "bill_phone_number": "0999999999",
                      "bill_email": "customer@example.com",
                      "page_id": "256469571178082",
                      "post_id": "185187094667903_477083092110915",
                      "shipping_fee": 0,
                      "cod": 0,
                      "cash": 0,
                      "account": 1,
                      "total_discount": 0,
                      "note": "",
                      "note_print": null,
                      "received_at_shop": false,
                      "is_free_shipping": false,
                      "is_locked": false,
                      "creator_id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                      "creator": {
                        "id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                        "fb_id": "2042723249341651",
                        "name": "Hoang Anh",
                        "avatar_url": null
                      },
                      "items": [],
                      "partner": {
                        "partner_id": 1,
                        "cod": 0,
                        "extend_code": "S58824.MB25.C3.500020713",
                        "total_fee": 0,
                        "updated_at": "2020-05-12T05:18:16"
                      },
                      "shipping_address": {
                        "full_name": "Hoang Anh",
                        "phone_number": "0999999999",
                        "address": "90 Cầu Giấy",
                        "full_address": "90 Cầu Giấy, Phường Dịch Vọng, Quận Cầu Giấy, Hà Nội",
                        "province_id": "101",
                        "district_id": "10113",
                        "commune_id": "1011309"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/shops/{SHOP_ID}/orders/{ORDER_ID}": {
      "get": {
        "summary": "Lấy thông tin 1 đơn hàng",
        "description": "Lấy thông tin 1 đơn hàng",
        "tags": [
          "Đơn hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          },
          {
            "name": "ORDER_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1418
            },
            "description": "Mã đơn hàng"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Đơn hàng"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": 1,
                      "system_id": 1,
                      "shop_id": 1,
                      "inserted_at": "2024-01-01T00:00:00Z",
                      "updated_at": "2024-01-01T00:00:00Z",
                      "status": 1,
                      "status_name": "Đã xác nhận",
                      "bill_full_name": "Hoang Anh",
                      "bill_phone_number": "0999999999",
                      "bill_email": "hoang@example.com",
                      "page_id": "104438181227821",
                      "post_id": "185187094667903_477083092110915",
                      "shipping_fee": 1,
                      "partner_fee": 1,
                      "fee_marketplace": 1,
                      "customer_pay_fee": true,
                      "is_free_shipping": true,
                      "is_livestream": true,
                      "is_live_shopping": true,
                      "is_smc": true,
                      "received_at_shop": true,
                      "total_discount": 1,
                      "note": "",
                      "note_print": null,
                      "returned_reason": 1,
                      "sub_status": 1,
                      "warehouse_id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                      "warehouse_info": {
                        "name": "kho test ecod",
                        "phone_number": "0999999999",
                        "full_address": "hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu",
                        "address": "hâhhha",
                        "province_id": "717",
                        "district_id": "71705",
                        "commune_id": "7170510",
                        "affiliate_id": null,
                        "ffm_id": null,
                        "has_snappy_service": true,
                        "custom_id": null
                      },
                      "creator_id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                      "creator": {
                        "id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                        "fb_id": "2042723249341651",
                        "name": "Hoang Anh",
                        "avatar_url": null
                      },
                      "items": [
                        {
                          "id": 1,
                          "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                          "variation_id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                          "quantity": 1,
                          "returned_count": 1,
                          "assigning_seller_id": "340644fc-314d-450e-a45f-33343678cab6",
                          "quantity_by_combo_products": [],
                          "discount_each_product": 1,
                          "is_bonus_product": true,
                          "is_discount_percent": true,
                          "is_wholesale": true,
                          "is_composite": true,
                          "one_time_product": true,
                          "note": "",
                          "note_product": "",
                          "inserted_at": "2024-01-01T00:00:00Z",
                          "measure_group_id": 1,
                          "variation_info": {
                            "id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                            "name": "Ao so mi nam",
                            "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                            "retail_price": 140000,
                            "detail": "",
                            "images": [
                              "https://statics.pancake.vn/user-content.pancake.vn/2021/8/5/fccd6.jpg"
                            ],
                            "fields": [
                              {
                                "id": "field-id-1",
                                "name": "Màu",
                                "value": "Trắng",
                                "keyValue": "Màu"
                              }
                            ],
                            "barcode": "BARCODE123",
                            "brand_id": null,
                            "category_ids": [
                              1290021044
                            ],
                            "display_id": "13109",
                            "product_display_id": "a131092025",
                            "is_upsale_product": true,
                            "last_imported_price": 30000,
                            "weight": 0,
                            "measure_info": {
                              "measure_id": 1,
                              "exchange_value": 1
                            },
                            "avg_price": 30000
                          },
                          "components": [
                            {
                              "component_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                              "quantity": 1,
                              "variation_id": "415040f4-ab63-465e-8699-e9ebfff4c6c7"
                            }
                          ]
                        }
                      ],
                      "partner": {
                        "partner_id": 1,
                        "cod": 0,
                        "extend_code": "S58824.MB25.C3.500020713",
                        "total_fee": 0,
                        "updated_at": "2020-05-12T05:18:16",
                        "delivery_name": null,
                        "delivery_tel": null,
                        "picked_up_at": null,
                        "sort_code": null,
                        "paid_at": null,
                        "system_created": true,
                        "extend_update": [
                          {
                            "key": "status",
                            "status": "delivered",
                            "tracking_id": "S58824.MB25.C3.500020713",
                            "note": "",
                            "update_at": "2020-05-12T05:18:16"
                          }
                        ]
                      },
                      "shipping_address": {
                        "full_name": "Hoang Anh",
                        "phone_number": "0999999999",
                        "address": "90 Cầu Giấy",
                        "full_address": "90 Cầu Giấy, Phường Dịch Vọng, Quận Cầu Giấy, Hà Nội",
                        "province_id": "101",
                        "district_id": "10113",
                        "commune_id": "1011309",
                        "commnue_name": "Phường Dịch Vọng",
                        "district_name": "Quận Cầu Giấy",
                        "province_name": "Hà Nội",
                        "country_code": "84",
                        "post_code": null
                      },
                      "payment_purchase_histories": [
                        {
                          "amount": 1800000,
                          "type": "cash",
                          "inserted_at": "2024-01-01T00:00:00Z",
                          "result_code": "00",
                          "ipn_reply": true,
                          "voucher_amount": 0,
                          "tags": [
                            "payment"
                          ]
                        }
                      ],
                      "tags": [
                        {
                          "id": 75,
                          "name": "thẻ 4"
                        }
                      ],
                      "marketer": {
                        "id": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                        "name": "Marketer Name",
                        "email": "marketer@example.com",
                        "phone_number": "0999999999",
                        "fb_id": "2042723249341651",
                        "avatar_url": null
                      },
                      "pke_mkter": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                      "activated_combo_products": {
                        "combo_product_id": 1,
                        "quantity_combo_activated": 1
                      },
                      "activated_promotion_advances": [
                        {
                          "id": 1,
                          "promotion_advance_id": "fb056b32-9cf6-4c5a-92de-0eb94db71121"
                        }
                      ],
                      "tracking_link": "https://tracking.example.com",
                      "ads_source": null,
                      "shopify_order_id": null,
                      "shopify_abandon_checkout_id": 1,
                      "cod": 0,
                      "cash": 0,
                      "account": 1,
                      "account_name": "facebook321",
                      "advanced_platform_fee": {
                        "affiliate_commission": 1,
                        "diff_shipping_fee": 1,
                        "marketplace_voucher": 1,
                        "payment_fee": 1,
                        "platform_commission": 1,
                        "seller_transaction_fee": 1,
                        "service_fee": 1,
                        "sfp_service_fee": 1
                      },
                      "printing_count": 1,
                      "marketplace_id": "-3",
                      "money_to_collect": 1,
                      "total_price": 1,
                      "shop_customer_address_id": "0fefd213-7d0c-4d5b-bdbf-35694da80857",
                      "customer": {
                        "fb_id": null,
                        "id": "96a8e283-3fba-492e-a35a-970f72a30a02",
                        "name": "Trần Văn Hoàng",
                        "page_id": "104438181227821"
                      },
                      "total_quantity": 1,
                      "time_assign_marketer": "2024-01-01T00:00:00Z",
                      "status_history": [
                        {
                          "avatar_url": null,
                          "editor_fb": "2042723249341651",
                          "editor_id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                          "name": "Hoang Anh",
                          "old_status": 0,
                          "status": 1,
                          "updated_at": "2024-01-01T00:00:00Z"
                        }
                      ],
                      "duplicated_phone": true,
                      "order_currency": "VND",
                      "charged_by_vnpay": 1,
                      "charged_by_qrpay": 1,
                      "custom_id": null,
                      "last_editor": {
                        "id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                        "fb_id": "2042723249341651",
                        "name": "Hoang Anh",
                        "email": "hoang@example.com",
                        "avatar_url": null,
                        "phone_number": "0999999999"
                      },
                      "last_editor_id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                      "charged_by_momo": 1,
                      "bank_transfer_images": [
                        "https://statics.pancake.vn/user-content.pancake.vn/2021/8/5/fccd6.jpg"
                      ],
                      "transfer_money": 1,
                      "lock_order_by_user": null,
                      "assigning_care": {
                        "id": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                        "fb_id": "2042723249341651",
                        "name": "Care Name",
                        "email": "care@example.com",
                        "avatar_url": null,
                        "phone_number": "0999999999"
                      },
                      "assigning_care_id": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                      "time_assign_care": "2024-01-01T00:00:00Z",
                      "assigning_seller": {
                        "id": "340644fc-314d-450e-a45f-33343678cab6",
                        "fb_id": "2042723249341651",
                        "name": "Seller Name",
                        "email": "seller@example.com",
                        "avatar_url": null,
                        "phone_number": "0999999999"
                      },
                      "einvoices": [],
                      "charged_by_card": 1,
                      "estimate_delivery_date": "2024-01-01T00:00:00Z",
                      "order_sources": "-1",
                      "charged_by_fundiin": 1,
                      "surcharge": 1,
                      "is_linked_partner": true,
                      "call_laters": [],
                      "last_update_status_at": "2024-01-01T00:00:00Z",
                      "discount_by_customer_level": 1,
                      "viewing": [],
                      "order_returned_ids": null,
                      "cost_surcharge": 1,
                      "time_send_partner": "2024-01-01T00:00:00Z",
                      "charged_by_kredivo": 1,
                      "discount": 1,
                      "histories": [],
                      "duplicated_customer": true,
                      "tax": 1,
                      "is_from_ecommerce": true,
                      "note_image": [
                        "https://statics.pancake.vn/user-content.pancake.vn/2021/8/5/fccd6.jpg"
                      ],
                      "shopify_draft_order_id": null,
                      "display_id": 1,
                      "shop_partner_id": 1,
                      "is_locked": true,
                      "additional_info": {
                        "service_partner": "instant"
                      },
                      "invoice_info_list": [
                        {
                          "error": "",
                          "invoice_detail": {
                            "company_address": "85 lê quý đôn, phường nam định, tỉnh Ninh Bình",
                            "company_address_breakdown": {
                              "company_additional_info": "",
                              "company_barangay": "",
                              "company_city": "",
                              "company_detailed_address": "85 lê quý đôn, phường nam định, tỉnh Ninh Bình",
                              "company_district": "Phường Nam Định",
                              "company_full_address": "85 lê quý đôn, phường nam định, tỉnh Ninh Bình",
                              "company_postcode": "",
                              "company_province": "",
                              "company_region": "VietNam",
                              "company_state": "Ninh Bình",
                              "company_town": "Phường Nam Định",
                              "company_email": "acb@gmail.com",
                              "company_name": "Công ty cổ phần tư vấn xây dựng điện Hoàng Phát",
                              "company_tax_id": "0601043840"
                            }
                          },
                          "invoice_type": "company",
                          "is_requested": true,
                          "order_sn": "251121BVGU6RVE"
                        }
                      ],
                      "reports_by_phone": {
                        "+639175706297": {
                          "order_fail": 29,
                          "order_success": 20,
                          "warning": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Cập nhật đơn hàng",
        "description": "Cập nhật đơn hàng",
        "tags": [
          "Đơn hàng"
        ],
        "parameters": [
          {
            "name": "SHOP_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 4
            },
            "description": "Mã shop"
          },
          {
            "name": "ORDER_ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1418
            },
            "description": "Mã đơn hàng"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Thông tin đơn hàng cần cập nhật",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Đơn hàng"
                  }
                ]
              },
              "example": {
                "bill_full_name": "Hoang Anh",
                "bill_phone_number": "0999999999",
                "is_free_shipping": false,
                "received_at_shop": false,
                "page_id": "256469571178082",
                "account": 4,
                "account_name": "facebook321",
                "assigning_seller_id": "340644fc-314d-450e-a45f-33343678cab6",
                "items": [
                  {
                    "discount_each_product": 0,
                    "is_bonus_product": false,
                    "is_discount_percent": false,
                    "is_wholesale": false,
                    "one_time_product": false,
                    "quantity": 1,
                    "variation_id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                    "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                    "variation_info": {
                      "detail": null,
                      "fields": null,
                      "display_id": null,
                      "name": "aaaaaa",
                      "product_display_id": null,
                      "is_upsale_product": true,
                      "retail_price": 100000,
                      "weight": 100
                    }
                  }
                ],
                "note": "",
                "note_print": null,
                "returned_reason": 1,
                "warehouse_id": "630744ef-4614-4a70-988c-52e6d78c953c",
                "shipping_address": {
                  "address": "aaaaa",
                  "commune_id": "2210941",
                  "country_code": null,
                  "district_id": "22109",
                  "full_address": "aaaaa, Xã Bắc Lý, Huyện Hiệp Hòa, Bắc Giang",
                  "full_name": "hoang anh",
                  "phone_number": "0999999999",
                  "post_code": null,
                  "province_id": "221"
                },
                "shipping_fee": 0,
                "shop_id": 4,
                "total_discount": 0,
                "warehouse_info": {
                  "district_id": "10111",
                  "full_address": "kakakaka, Phường Khương Trung, Quận Thanh Xuân, Hà Nội",
                  "name": "snappy",
                  "phone_number": "0999999999",
                  "province_id": "101"
                },
                "custom_id": "Ma0001",
                "activated_promotion_advances": [
                  {
                    "promotion_advance_id": "fb056b32-9cf6-4c5a-92de-0eb94db71121",
                    "is_activated": true
                  }
                ],
                "status": 0,
                "cash": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Đơn hàng"
                },
                "examples": {
                  "default": {
                    "value": {
                      "id": 1,
                      "system_id": 1,
                      "shop_id": 1,
                      "inserted_at": "2024-01-01T00:00:00Z",
                      "updated_at": "2024-01-01T00:00:00Z",
                      "status": 1,
                      "status_name": "Đã xác nhận",
                      "bill_full_name": "Hoang Anh",
                      "bill_phone_number": "0999999999",
                      "bill_email": "hoang@example.com",
                      "page_id": "104438181227821",
                      "post_id": "185187094667903_477083092110915",
                      "shipping_fee": 1,
                      "partner_fee": 1,
                      "fee_marketplace": 1,
                      "customer_pay_fee": true,
                      "is_free_shipping": true,
                      "is_livestream": true,
                      "is_live_shopping": true,
                      "is_smc": true,
                      "received_at_shop": true,
                      "total_discount": 1,
                      "note": "",
                      "note_print": null,
                      "returned_reason": 1,
                      "sub_status": 1,
                      "warehouse_id": "b4cb5897-6e56-4581-96cc-2f12677c7bd8",
                      "warehouse_info": {
                        "name": "kho test ecod",
                        "phone_number": "0999999999",
                        "full_address": "hâhhha, Xã Bình Trung, Huyện Châu Đức, Bà Rịa-Vũng Tàu",
                        "address": "hâhhha",
                        "province_id": "717",
                        "district_id": "71705",
                        "commune_id": "7170510",
                        "affiliate_id": null,
                        "ffm_id": null,
                        "has_snappy_service": true,
                        "custom_id": null
                      },
                      "creator_id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                      "creator": {
                        "id": "8fbe2a6f-b0b2-4227-a698-19d18c43f7c8",
                        "fb_id": "2042723249341651",
                        "name": "Hoang Anh",
                        "avatar_url": null
                      },
                      "items": [
                        {
                          "id": 1,
                          "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                          "variation_id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                          "quantity": 1,
                          "returned_count": 1,
                          "assigning_seller_id": "340644fc-314d-450e-a45f-33343678cab6",
                          "quantity_by_combo_products": [],
                          "discount_each_product": 1,
                          "is_bonus_product": true,
                          "is_discount_percent": true,
                          "is_wholesale": true,
                          "is_composite": true,
                          "one_time_product": true,
                          "note": "",
                          "note_product": "",
                          "inserted_at": "2024-01-01T00:00:00Z",
                          "measure_group_id": 1,
                          "variation_info": {
                            "id": "415040f4-ab63-465e-8699-e9ebfff4c6c7",
                            "name": "Ao so mi nam",
                            "product_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                            "retail_price": 140000,
                            "detail": "",
                            "images": [
                              "https://statics.pancake.vn/user-content.pancake.vn/2021/8/5/fccd6.jpg"
                            ],
                            "fields": [
                              {
                                "id": "field-id-1",
                                "name": "Màu",
                                "value": "Trắng",
                                "keyValue": "Màu"
                              }
                            ],
                            "barcode": "BARCODE123",
                            "brand_id": null,
                            "category_ids": [
                              1290021044
                            ],
                            "display_id": "13109",
                            "product_display_id": "a131092025",
                            "is_upsale_product": true,
                            "last_imported_price": 30000,
                            "weight": 0,
                            "measure_info": {
                              "measure_id": 1,
                              "exchange_value": 1
                            },
                            "avg_price": 30000
                          },
                          "components": [
                            {
                              "component_id": "3487e126-b0d9-4dae-89a9-ee60bef2f4e9",
                              "quantity": 1,
                              "variation_id": "415040f4-ab63-465e-8699-e9ebfff4c6c7"
                            }
                          ]
                        }
                      ],
                      "partner": {
                        "partner_id": 1,
                        "cod": 0,
                        "extend_code": "S58824.MB25.C3.500020713",
                        "total_fee": 0,
                        "updated_at": "2020-05-12T05:18:16",
                        "delivery_name": null,
                        "delivery_tel": null,
                        "picked_up_at": null,
                        "sort_code": null,
                        "paid_at": null,
                        "system_created": true,
                        "extend_update": [
                          {
                            "key": "status",
                            "status": "delivered",
                            "tracking_id": "S58824.MB25.C3.500020713",
                            "note": "",
                            "update_at": "2020-05-12T05:18:16"
                          }
                        ]
                      },
                      "shipping_address": {
                        "full_name": "Hoang Anh",
                        "phone_number": "0999999999",
                        "address": "90 Cầu Giấy",
                        "full_address": "90 Cầu Giấy, Phường Dịch Vọng, Quận Cầu Giấy, Hà Nội",
                        "province_id": "101",
                        "district_id": "10113",
                        "commune_id": "1011309",
                        "commnue_name": "Phường Dịch Vọng",
                        "district_name": "Quận Cầu Giấy",
                        "province_name": "Hà Nội",
                        "country_code": "84",
                        "post_code": null
                      },
                      "payment_purchase_histories": [
                        {
                          "amount": 1800000,
                          "type": "cash",
                          "inserted_at": "2024-01-01T00:00:00Z",
                          "result_code": "00",
                          "ipn_reply": true,
                          "voucher_amount": 0,
                          "tags": [
                            "payment"
                          ]
                        }
                      ],
                      "tags": [
                        {
                          "id": 75,
                          "name": "thẻ 4"
                        }
                      ],
                      "marketer": {
                        "id": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                        "name": "Marketer Name",
                        "email": "marketer@example.com",
                        "phone_number": "0999999999",
                        "fb_id": "2042723249341651",
                        "avatar_url": null
                      },
                      "pke_mkter": "cee3c05e-5f85-43c4-b27e-889b99c50097",
                      "activated_combo_products": {
                        "combo_product_id": 1,
                        "quantity_combo_activated": 1
                      },
                      "activated_promotion_advances": [
                        {
                          "id": 1,
                          "promotion_advance_id": "fb056b32-9cf6-4c5a-92de-0eb94db71121"
                        }
                      ],
                      "tracking_link": "https://tracking.example.com",
                      "ads_source": null,
                      "shopify_order_id": null,
                      "shopify_abandon_checkout_id": 1,
                      "cod": 0,
                      "cash": 0,
                      "account": 1,
                      "account_name": "facebook321",
                      "advanced_platform_fee": {
                        "affiliate_commission": 1,
                        "diff_shipping_fee": 1,
                        "marketplace_voucher": 1,
                        "payment_fee": 1,
[...]
